.tab-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.tab-content-wrap{
    border: 1px solid rgb(211, 224, 211);
    padding: 30px;
    margin: 30px 0px;
    border-radius: 10px;
}

#tabs {
    display: flex;
    gap: 30px;
}


#tabs li {
    list-style: none;
}

#tabs li a{
    cursor: pointer;
    text-decoration: none;
    padding: 30px;
    margin-top: 50px;
    border-radius: 30px;
    font-size: 0;
}

.tab-content img {
    height: 300px;
    margin: 80px 0 0 0;
}

#tabs li .blue {
    background: blue;
}

#tabs li .black {
    background: black;
}

#tabs li .red {
    background: red;
}

#tabs li .gray {
    background: gray;
}